<?xml version="1.0"?>
<launch>

  <include file="$(find ugv_course_launch)/launch/audibot_road_world.launch" />

  <include file="$(find audibot_lane_detection)/launch/lane_detection.launch" >
    <arg name="nodelet" value="true" />
  </include>

  <group ns="audibot" >
    <node pkg="audibot_path_following" type="audibot_path_following" name="path_following" output="screen" />
    <node pkg="audibot_twist_controller" type="audibot_twist_node" name="twist_control" output="screen" />
  </group>

  <node pkg="final_project" type="final_project" name="project_main" output="screen"/>

  <node pkg="rviz" type="rviz" name="lane_keep_viz" args="-d $(find audibot_lane_detection)/rviz/lane_detection.rviz" />

</launch>
